<?php
do_bodytag('onload="document.getElementById(\'edit-text\').focus()"');
do_headtag('<script type="text/javascript" src="' . do_wiki_url('edit.js') .'"></script>');
?>
<h1><?php print do_title() ?><span class="action"> &rarr; edit</span></h1>

<?php if (do_message()) { ?><p id="message"><?php print do_message() ?></p><?php } ?>
<?php if (do_secondary_content()) { ?>
    <p>Here is the content of the new version:</p>
<?php } ?>
<form method="post" action="<?php print do_href(do_name(), do_action()) ?>" class="uwform" id="edit">
<textarea cols="70" rows="25" name="text" id="edit-text" onselect="storeCaret(this)" onclick="storeCaret(this)" onkeyup="storeCaret(this)"><?php print do_content() ?></textarea>
<br />
<input type="button" value="Media" accesskey="m" onclick="insertMediaElement()" />
<input type="submit" value="Save" accesskey="s" />
<input type="hidden" name="mtime" value="<?php print do_last_update() ?>"/>

<?php if (do_secondary_content()) { ?>

<p>For reference, this is your original file.</p>
<p class="important">This will <strong>not</strong> be saved; copy what you changed and paste it into the upper area.</p>

<textarea cols="70" rows="25"><?php print do_secondary_content() ?></textarea>
<?php } ?>

</form>