<?php
do_bodytag('onload="document.getElementById(\'edit-text\').focus()"');
do_headtag('<script type="text/javascript" src="' . do_wiki_url('edit.js') .'"></script>');
?>
<h1><?php print do_title() ?><span class="action"> &rarr; edit</span></h1>

<?php if (do_message()) { ?><p id="message"><?php print do_message() ?></p><?php } ?>
<?php if (do_secondary_content()) { ?>
    <p class="important">The page was saved by somebody else while you were editing it.</p>
    <p>Here is the content of the <strong>new</strong> version:</p>
<?php } ?>
<form method="post" action="<?php print do_href(do_name(), do_action()) ?>" class="uwform" id="edit">
<textarea cols="70" rows="25" name="text" id="text" onselect="storeCaret(this)" onclick="storeCaret(this)" onkeyup="storeCaret(this)"><?php print do_content() ?></textarea>
<br />
<input type="hidden" name="mtime" value="<?php print do_last_update() ?>"/>
<input type="button" value="Media" accesskey="m" onclick="insertMediaElement()" />
<input type="submit" value="Save" accesskey="s" />

<?php do_template('help') ?>

<?php if (do_secondary_content()) { ?>
<div id="content-secondary">
    <p>For reference, here are the differences between the files.</p>
    <p class="important">Your changes will <strong>not</strong> be saved unless you copy what you changed and paste it into the upper area.</p>
<div id="file-diff"><code><?php print do_secondary_content() ?></code></div>
</div>
<?php } ?>

</form>