<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="<?php print do_theme_url('screen.css') ?>" rel="stylesheet" type="text/css" media="screen" />
<?php print do_title_tag() ?>
<?php print do_headtag() ?></head>
