<div id="marktoggle" class="closed">
    <a id="marklink" href="javascript:helpon();">Help</a>
</div>

<div id="markguide" class="collapse" style="display:none">
<table bordercolor="lightgray" border="1" style="border-collapse:collapse">
    <tr><th>To get this&hellip;</th><th>Type this&hellip;</th></tr>
    <tr><td><strong>Bold phrase</strong></td><td>*Bold phrase*</td></tr>
    <tr><td><span style="font-style: italic;">Italic phrase</span></td><td>**Italic phrase**</td></tr>
    <tr><td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td><td>* item 1<br />* item 3<br />* item 3</td></tr>
    <tr><td><h1>Big header</h1></td><td>Big header<br />==========</td></tr>
    <tr><td><h2>Normal header</h2></td><td>Normal header<br />-------------</td></tr>
    <tr><td><a href="wiki-link">Wiki Link</a></td><td>[[Wiki Link]]</td></tr>
    <tr><td><a href="http://www.nodebox.net/">http://www.nodebox.net/</a></td><td>[[http://www.nodebox.net/]]</td></tr>
    <tr><td><a href="http://www.nodebox.net/">NodeBox</a></td><td>[[http://www.nodebox.net/]](NodeBox)</td></tr>
    <tr><td><img src="<?php print do_wiki_url('themes/img/img-example.jpg') ?>" /></td><td>!sunset.jpg!</td></tr>
</table>
You can also use regular HTML. Text inside of HTML will not be changed.
</div>
