<?php
/*
 * This template is responsible mainly for the outer level <html> stuff.
 *
 */
 ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php print do_template('head') ?>
<?php print do_template('body') ?>
</html>
