body {
	font: small verdana, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#header h1 {
 	font: 150% helvetica;
 	font-weight: bold;
	background: #eee;
	margin: 0 0 0 0;
	padding: 10px;
	font-size: 150%;
	border-bottom: 1px solid #bbb;
}

#header h1 a {
	color: #551769;
	text-decoration: none;	
}

#nav { 
	position: absolute;
	left: 0;
}

#nav ul { 
	margin: 0;
	padding: 10px;
 }

#nav li { 
	list-style-type: none; 
}

#nav li a {
	line-height: 170%;
}

#content, #footer, #actionbar { 
	margin: 0 0 0 135px;
	width: 60em;
}

#content {
	margin-top: 15px;
	margin-bottom: 5px;
}

#content ul {
	margin: 10px 0;
	padding: 0 0 0 30px;
}

#content h1 {
 	font: 120% helvetica,sans-serif;
 	font-weight: bold;
	margin: 15px 0 5px 0;
	padding: 0;
}

#content h2 {
 	font: 110% helvetica,sans-serif;
 	font-weight: bold;
	margin: 15px 0 5px 0;
	padding: 0;
}

#content p {
	line-height: 130%;
	margin: 5px 0 10px 0;
}

#content blockquote {
	font-style: italic;
}

#content hr {
	border: none;
	border-top: 1px solid #999;
	margin: 15px 0 15px 0;
}

#content #updated {
	font-size: 85%;
	color: #ccc;
	padding: 5px 10px 0 10px;
}

#actionbar { 
	background: #f7f7f7;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

#actionbar a { 
	color: #77f;
	margin-right: 5px;
}

#footer {
	border-bottom: 1px solid #eee;
	font-size: 85%;
	color: #ccc;
	padding: 5px 10px;
}

form.uwform {
	margin: 0 0 0px 0;
	padding: 0 0 0px 0;
}

.important {
    font-weight: bold;
    color: red;
}

p#message {
    font-weight: bold;
    color: red;
}