body {
	font: small verdana,helvetica,sans-serif;
}
#header {
	float: left;
}
h1 {
	font: 120%;
	margin-left: 200px;
	margin-top: 0;
	padding-top: 1.3em;
	margin-bottom: 0;
	color: #333333;
}

#header {
	list-style: none;
	text-align: right;
	padding-right: 18px;
	margin: 0;
}

#header {
	padding-bottom: 10px;
}

p {
	margin: 0;
	margin-bottom: 0.5em;
	margin-top: 0;
	padding: 0;
}

#actionbar {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

#content img {
	border: 1px solid #00000;
}

#actionbar img {
	padding-left: 5px;
}

span.action {
	color: #8b8b8b;
	font-size: 28pt;
	position: relative;
	bottom: 0.18em;
}

a {
	color: #110099;
	text-decoration: none;
}

#content {
	margin-left: 217px;
	width: 50em;
}

#content h1 {
	font: 24px Georgia, Times, serif;
	margin-bottom: 0.2em;
	margin-left: 0;
	margin-top: 0.6em;
	margin: 0;
	padding: 0.4em 0 0;
	color: #333333;
}

#footer {
	color: #929292;
	font: 9pt Georgia, Times, serif;
	margin-left: 217px;
	margin-top: 2em;
}

#content h2 {
	font: 23px Georgia, Times, serif;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	margin-left: 0;
	color: #333333;
}

textarea {
	font: 11px Courier,mono;
	width: 500px;
}

a img {
	border:  0;
}

table {
	padding: 0;
	margin: 0;
}

table,td,tr {
	vertical-align: top;
	border-collapse: collapse;
}

td {
	border:1px solid #666;
	padding:2px;
}

table.login, table.perm {
	border: 1px solid #ccc;
	background: #eee;
	padding: 10px 10px 10px 4px;
	border-collapse: inherit;
}

table.login td,table.perm td {
	border:0;
}

.thumb {
	font: 11px "Trebuchet MS", Helvetica, sans-serif;
	color: #888;
  float: left;
  text-align: center;
  margin:10px;
}

.actions {
  background:white;
  text-align:left;
  width:100%;
  height:0;
  position:relative;
  top:10px;
  left:5px;
  color:000;
}

.actions a {
  color:#fff;
  background:#333;
  text-decoration:none;
  padding:5px;
  margin-right:5px;
  border:1px solid #999;
}

.wrap1, .wrap2, .wrap3 {
  display: inline-table;
  /* \*/display: block;/**/
}

.wrap1 {
  background: url(images/shadow.gif) right bottom no-repeat;
}

.wrap2 {
  background: url(images/corner_bl.gif) left bottom no-repeat;
}

.wrap3 {
  padding: 0 4px 4px 0;
  background: url(images/corner_tr.gif) right top no-repeat;
}

.small {
	font-size: 85%;
	color: #ccc;
}